# .gitignore "dot gitignore" file 
# Keeps files we don't write OUT of our project repository

# Ignore our local project virtual environment folder
# We can always delete and recreate it as needed
# This is where our external dependency packages (e.g. pandas) reside
.venv/

# Ignore Mac files
.DS_Store
.AppleDouble
.LSOverride

# Ignore Python cache files
__pycache__/

# Ignore most of the .vscode folder, except for project-specific settings
.vscode/*
!.vscode/settings.json  # Include project-specific settings
!.vscode/launch.json    # Include project-specific launch configurations if needed
!.vscode/tasks.json     # Include project-specific tasks if needed
