# requirements.txt - this file lists external packages the project needs
# Ingnore hashes (or number signs or pound signs) - they are used to write comments. 
# Comments are ignored when we install packages using this file. 

# ======================================================
# STEP A - CREATE A LOCAL PROJECT VIRTUAL ENV (.venv)
# ======================================================

# Create your local project virtual environment
# This step ensures you have an isolated Python environment for your project.
# This is typically just done once at the beginning of a project.
# If it gets messed up, we can delete .venv and recreate it at any time. 

# Run the following command to create a virtual environment in the project root.

### On Windows, Use PowerShell (not cmd) - don't include the #:
# py -m venv .venv

### On Mac/Linux, Use zsh or bash (or PowerShell) - don't include the #:
# python3 -m venv .venv

# ======================================================
# STEP B - ALWAYS ACTIVATE THE (.venv) WHEN WORKING ON YOUR PROJECT
# ======================================================

# ALWAYS activate the .venv before working on the project.
# Activate whenever you open a new terminal. 

### Windows Command (don't include the #):
# .venv\Scripts\activate

### Mac/Linux Command (don't include the #):
# source .venv/bin/activate

# Verify: When active, you can usually see (.venv) in the terminal.

# When using a Jupyter notebook, select the kernel associated with your project .venv.

# ======================================================
# STEP C - INSTALL PACKAGES INTO .venv AS NEEDED
# ======================================================

# Keep packages updated with the most recent versions.
# When you identify a new package you want to use, 
# Just update the list below and re-run this command. 
# It will install and update all the packages listed in this file. 

### Windows Command (don't include the #):
# py -m pip install --upgrade -r requirements.txt

### Mac/Linux Command (don't include the #):
# python3 -m pip install --upgrade -r requirements.txt

# ======================================================
# OPTIONAL STEP D - TRY VENV CHECKER (NEW)
# ======================================================

# To verify local project .venv and requirements
### Windows Command (don't include the #):
# py -m datafun_venv_checker.venv_checker
### Mac/Linux Command (don't include the #):
# python3 -m datafun_venv_checker.venv_checker

# ======================================================
# LIST EXTERNAL PACKAGES TO BE INSTALLED BELOW
# ======================================================

# Keep pip upgraded (manages the installation of packages)
pip

# Easy logging to keep track of code execution 
loguru

# Jupyter and related tools
ipykernel
jupyterlab

# Data analysis
numpy
pandas

# Data visualization
matplotlib
seaborn
plotly

# Work with Apache Spark for big data
#pyspark==4.0.0.dev1
#pyspark[sql]

# Optional utility program to verify .venv and requirements
git+https://github.com/denisecase/datafun-venv-checker.git#egg=datafun_venv_checker
